<%= simple_form_for(@list) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs middle">
  	 <div class="form-group centered">
	 	<h3 class="white">ENTER A LIST NAME</h3>
	 		<%= f.input :name, class: 'form-control'%>
		  <div class="form-actions">
    		<%= f.button :submit, class: 'btn btn-sm btn-primary' %>
  		  </div>
	 </div>
  </div>
<% end %>
