@import "bootstrap";
@import "material_icons";

body {
  margin-top: 0;
  background-image: image-url("sea.jpg");
  background-color: black;
  background-repeat: no-repeat;
  background-size:cover;
  background-attachment: fixed;
  background-position: center;
}

.centered {
	text-align: center;
}

h1 {
    margin-top: 2em;
	font-family: Quicksand;
	font-variant: normal;
}

.ntask {
  margin-bottom: 1em;
  margin-left: 1em;
}

.newtask {
	margin-top: 2em;
}

.type {
	width: 10%;
}

.tabla {
	background-color: white;
}

.hide {
  display:none;
}

.High {
  background-color: #F36254;
}

.Medium {
  background-color: yellow;
}

.updated {
  position: absolute;
  margin: 0;
  top:1em;
  right: 0;
  margin-right: 2em;
  font-family: Quicksand;
  font-size: 18px;
  font-style: normal;
  font-variant: normal;
  font-weight: bold;
  line-height: 15.4px;
}

.list {
  position: relative;
  margin: 0;
  top: 1em;
  right:0;
  margin-right: 2em;
}
